.add-todo-modal .modal-inner {
  border-radius: .4rem;
  background-color: #ebf7f9;
  .modal-title {
    letter-spacing: .1rem;
    color: #5bb3bf;
    font-family: monospace;
    font-size: 1.4rem;
  }
  .modal-btn {
    color: #5bb3bf;
    font-family: monospace;
  }
}